
    <div id="addEditModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true" >
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div id="addEditModalContent">

                </div>
            </div>
        </div>
    </div>