<!--  MODALS -->
<!-- modal placeholder-->
<div id='addEditModal' class='modal fade' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog .modal-lg">
        <div class="modal-content">
            <div id='addEditModalContent'></div>
        </div>
    </div>
</div>
<!---------------------->
<!-- Modal -->
<!--======================================================================================================================
<div>
    <div class="modal fade " id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog .modal-lg	">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body" id="modelBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
======================================================================================================================-->
