
@{
    ViewBag.Title = "Admin";

    //var dir = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
}


@section styles{


    <!--===================================================================================-->
    <link rel="icon" type="image/png" href="~/images/admin/favicon.PNG" />
    <!--===============================================================================================================================-->
    <!--Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!--------------external css----------------->
    <link href="~/lib/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/lib/toastr/css/toastr.min.css" rel="stylesheet" />
    <!--Custom styles for this template ------>



    <environment names="Development,Production,Staging">


        <link href="/assets/css/admin.css" rel="preload" as="style">
        <link href="/assets/js/admin.js" rel="preload" as="script">
        <link href="/assets/js/chunk-vendors.js" rel="preload" as="script">
        <link href="/assets/css/admin.css" rel="stylesheet" asp-append-version="true">





    </environment>

}





<div id="app">





</div>







@section scripts{



    <!--=================================================================================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @*@Scripts.Render("~/bundles/modernizr")*@
    <!--=================================================================================================-->
    <script src="~/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/lib/jquery.scrollTo.min.js"></script>
    <script src="~/lib/jquery.nicescroll.js"></script>
    <script src="~/lib/jquery.sparkline.js"></script>


    <!--common script for all pages-->


    <script src="~/lib/gritter/js/jquery.gritter.js"></script>
    <script src="~/lib/toastr/js/toastr.min.js"></script>







    <environment names="Development,Production,Staging">

        <script type="text/javascript" src="/assets/js/chunk-vendors.js"></script>
        <script type="text/javascript" src="/assets/js/admin.js" asp-append-version="true"></script>

    </environment>

}